.chat-body__message {
    /* background-color: aqua; */
    margin: 1.2rem .5rem 1rem .5rem;
    background-color: white;
    padding: .5rem 1rem;
    width: fit-content;
    max-width: 70%;
    border-radius: 5px;
    position: relative;
}
.chat-body__myMsg {
    background-color: #dcf8c6;
    align-self: end;
}

.chat-body__msgfrom {
    font-size: .8rem;
    font-weight: 500;
    position: absolute;
    top: -1.4rem;
    left: 0;
    color: grey;
}
.chat-body__msgtime {
    font-size: x-small;
    font-weight: 500;
    margin-left: 8px;
    color: grey;
    position: absolute;
    bottom: .5rem;
    right: 1rem;
} 
.chat-body__msgtime-dummy {
    visibility: hidden;
    font-size: x-small;
    margin-left: 8px;
}